<h4>クイズについて</h4>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">タイトル</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="クイズのタイトルを入力してください。">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">説明</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="クイズの説明文を入力してください。">
  </div>
</form>

<h4>問題をツクる</h4>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="クイズの問題文を入力してください。">
</div>

<div>
  ※ 問題の答えが○の場合は、左のチェックボックスにチェックを入れてください。
</div>

<div>
  ＋ 問題を増やす
</div>

<input class="btn btn-primary" type="submit" value="ツクる">