<div>
  ○×問題の問題文を入力してください。
  ※ 問題の答えが○の場合は、左のチェックボックスにチェックを入れてください。
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>

<div>
  ＋ 問題を増やす
</div>

<input class="btn btn-primary" type="submit" value="ツクる">