<h4>クイズをトク</h4>
<p>※ 問題の答えが○の場合は、左のチェックボックスに<br>×の場合は右にチェックを入れてください。</p>

<form name="judge" class="judge">
  <% @questions.each do |question| %>
    <div class="input-group mb-3" data-question_id = <%= question[:id] %>>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" name="check" value="○">
        </div>
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" name="check" value="×">
        </div>
      </div>
      <div class="form-control">
        <%= question[:quistion] %>
      </div>
    </div>
  <% end %>
</form>

<input class="btn btn-primary" type="button" value="回答する" onclick="clickBtn1()"/>
<div id="result">
  <p>正誤判定 <span id="judge-answer"></span></p>
  <p>あなたの回答 <span id="user-answer"></span></p>
  <p>問題の解答   <span id="question-answer"></span></p>
</div>