<h4>クイズをトク</h4>
<p>※ 問題の答えが○の場合は、左のチェックボックスに<br>×の場合は右にチェックを入れてください。</p>

<form name="judge" class="judge">
  <% @questions.each do |question| %>
    <div class="input-group mb-3" data-question_id = <%= question[:id] %>>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" name="check" value="○">
        </div>
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" name="check" value="×">
        </div>
      </div>
      <div class="form-control">
        <%= question[:quistion] %>
      </div>
    </div>
  <% end %>
</form>

<input class="btn btn-primary" type="button" value="回答する" onclick="clickBtn1()"/>
<div id="result">
  <p>あなたの回答 <span id="user-answer"></span></p>
</div>

<%# <input class="btn btn-primary" type="button" value="正解を見る" id="answer-button">
<div>
  <p>正解は・・・
    <span id="question_answer" hidden> %>
      <%# <% @questions.each do |qa| %>
        <%# <%= qa[:answer] %>
      <%# <% end %>
    <%# </span>
  </p>
<%# </div> %>

<div class="hidden_box">
    <label for="label1">正解を見る</label>
    <input type="checkbox" id="label1" class="btn btn-primary"/>
    <p>正解は・・・
    <div class="hidden_show">
      <!--非表示ここから-->     
      <% @questions.each do |qa| %>
        <%= qa[:answer] %>
      <% end %>
      <!--ここまで-->
    </div>
    </p>
</div>