<h4>クイズをトク</h4>
<p>問題の答えが○の場合は、問題文の左にチェックを入れてください。</p>

<form>
  <% @questions.each do |question| %>
    <div class="input-group mb-3" data-question_id = <%= question[:id] %>>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input" name="check" value="○">
        </div>
      </div>
      <div class="form-control">
        <%= question[:question] %>
      </div>
    </div>
  <% end %>
</form>

<input class="btn btn-primary" id="judge-button" type="button" value="回答する" onclick="disabled = true;"/>

<table id="answer-table">
  <tr id="judge-table">
  </tr>
  <tr id="user-table">
  </tr>
  <tr id="question-table">
  </tr>
</table>