#answer-table {
  border-collapse: collapse;
  margin-top: 50px;
}
.answer-td {
	border: solid 1px;
  padding: 0.5em;
}
.center {
  text-align: center;
}
.maru {
  color: red;
  font-size: 50px;
  font-weight: bold;
}
.batu {
  color: blue;
  font-size: 35px;
}